* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

select,
option {
  background-color: lightblue;
  color: #fff;
  font-weight: 700;
  width: 20rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  margin: 1rem;
}

#vecinos {
  background-color: #333;
  width: 40rem;
  height: 15rem;
  border-radius: 0.25rem;
  margin: 1rem;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
}

div p {
  margin: 0.5rem;
  color: fff;
  font-weight: 700;
}
